.headerstrip {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  padding: 10px;
  display: flex;
  width: 100%;
  color: #FFF;
  justify-content: space-between;
  align-items: center;
  background: rgba(202,104,39,1);
  background: -moz-linear-gradient(-45deg, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 50%, rgba(230,123,47,1) 50%, rgba(230,123,47,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(202,104,39,1)), color-stop(0%, rgba(202,104,39,1)), color-stop(50%, rgba(202,104,39,1)), color-stop(50%, rgba(230,123,47,1)), color-stop(100%, rgba(230,123,47,1)));
  background: -webkit-linear-gradient(-45deg, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 50%, rgba(230,123,47,1) 50%, rgba(230,123,47,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 50%, rgba(230,123,47,1) 50%, rgba(230,123,47,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 50%, rgba(230,123,47,1) 50%, rgba(230,123,47,1) 100%);
  background: linear-gradient(135deg, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 0%, rgba(202,104,39,1) 50%, rgba(230,123,47,1) 50%, rgba(230,123,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca6827', endColorstr='#e67b2f', GradientType=1 );
}

.headerstrip-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerstrip-option {
  margin-right: 36px;
  padding: 8px;
}

.headerstip-option:last-child {
  margin: 0;
}

.headerstrip-rounded-option {
  margin-right: 12px;
  border-radius: 2px;
  border: 2px #FFFFFF solid;
}

.headerstrip-rounded-option:last-child {
  margin: 0;
}

.headerstrip-option:hover {
  cursor: pointer;
  background-color: #CA6827;
}